body {
    background-color: rgb(240,242,244);
}

.hidden {
    display: none;
}

#controls img {
    position: absolute;
    top: 5px;
}

#controls #prev {
    left: 5px;
}

#controls #next {
    transform: rotate(180deg);
    right: 5px !important;
}