.repo {
    background-color: white;
    padding: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 20px 1px rgba(0,0,0,0.75);
    position: relative;
    min-height: 185px;
}

.repo .repo-title {
}

.repo .description {
    border-top: 1px solid lightGray;
    padding: 5px;
    width: 75%;
}

.repo .topContributor {
    width: 23%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 2px;
}